.profil-container {
    padding: 70px 60px;
}

.profil-header {
    text-align: center;
    margin-bottom: 60px;
}

.profil-avatar {
    width: 120px;
    height: 120px;
    background: url(image.png) center / cover;
    margin: 0 auto 20px;
}

.profil-content {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 40px;
    justify-content: center;
}

.profil-card {
    border: 1px solid #000000;
    padding: 30px;
}

.profil-card h3 {
    color: #666600;
    margin-bottom: 10px;
}

.yt {
    background: url(yt.png) center / cover;
    height: 34px;
    width: 34px;
    cursor: pointer;
    transition: .4s;
}

.yt:hover {
    scale: 1.2;
}

.tel {
    background: url(tl.png) center / cover;
    height: 34px;
    width: 34px;
    cursor: pointer;
    transition: .4s;
}

.tel:hover {
    scale: 1.2;
}

.ins {
    background: url(ins.png) center / cover;
    height: 34px;
    width: 34px;
    cursor: pointer;
    transition: .4s;
}

.ins:hover {
    scale: 1.2;
}

.sosial {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.wp {
    height: 34px;
    width: 34px;
    background: url(wp.png) center/cover;
    cursor: pointer;
    transition: .4s;
}

.wp:hover {
    scale: 1.2;
}