.profil-container {
    padding: 70px 60px;
}

.profil-header {
    text-align: center;
    margin-bottom: 60px;
}

.profil-avatar {
    width: 120px;
    height: 120px;
    background: url(image.png) center / cover;
    margin: 0 auto 20px;
}

.profil-content {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 40px;
    justify-content: center;
}

.profil-card {
    border: 1px solid #000000;
    padding: 30px;
}

.profil-card h3 {
    color: #666600;
    margin-bottom: 10px;
}